.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 1rem 1rem 0;
    color: rgb(50, 50, 50);
}
.item.dark{
    color:rgb(230,230,230);
}
.habit{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    border: 2px solid rgb(200, 200, 200);
    border-radius: 50%;
    cursor: pointer;
}
.habit.dark{
    border: 2px solid rgb(100, 100, 100);
}

.habit:hover{
    transform: scale(1.2);
    border: 2px solid rgb(100, 100, 100);
}
.habit.dark:hover{
    border: 2px solid rgb(200, 200, 200);
}

.percent.dark{
    color: rgb(230, 230, 230);
}

.description{
    margin-top: 3px;
}



