.boxList{
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    max-height: 120px;
    width: calc(17px * 53);
    padding: 1.2rem 1rem;
    border: 2px solid rgb(200,200,200);
    border-radius: 5px;
    color: rgb(50, 50, 50);
}

.boxList.dark{
    border: 2px solid rgb(100,100,100);
}