.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
    background-color: white;
}
.main.dark{
    background-color: rgb(30, 30, 30);
}

.horizontal{
    width: 80%;
    height: 1px;
    background-color: rgb(200, 200, 200);
}
.horizontal.dark{
    background-color: rgb(100, 100, 100);
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 3rem;
    padding: 0.5rem 1rem;
    background-color: rgb(50, 50, 50);
}

.btns{
    display: flex;
    justify-content: space-between;
    width: 3rem;
}

.userSection,
.previewSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 3rem 0;
}

.userSection.dark,
.previewSection.dark{
    background-color: rgb(30, 30, 30);
}

.footer{
    width: 100%;
    height: 5rem;
    background-color: white;
}
.footer.dark{
    background-color: rgb(30, 30, 30);
}