.user{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.profile{
    display: flex;
    position: relative;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    outline: 2px solid rgb(200, 200, 200);
    cursor: pointer;
}
.profile.dark{
    outline: 2px solid rgb(100, 100, 100);
}

.img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    object-fit: cover;    
}


.cover{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.459);
    color:white;
    opacity: 0;
}

.cover:hover{
    opacity: 1;
}

.input{
    display: none;
}

.info{
    display: flex;
    flex-direction: column;
    border-left: 2px solid rgb(200,200,200);
    padding-left: 0.5rem;
    margin-left: 0.5rem;
}

.info.dark{
    color:rgb(230, 230, 230);
    border-left: 2px solid rgb(100, 100, 100);
}

.value,
.description{
    display: inline;
}

.description{
    font-weight: 300;
    font-size: 0.8rem;
}