.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.description{
    font-size: 0.8rem;
    font-weight: 300;
    display: flex;
    margin: 0 auto 3px 10px
}
.description.dark{
    color:rgb(230, 230, 230);
}

.name,
.des,
.goal{
    margin-bottom: 1rem;
    padding: 5px;
    background-color: transparent;
    border: 1px solid rgb(200, 200, 200);
    
}
.name.error,
.des.error,
.goal.error{
    border: 1px solid rgb(255, 112, 112);  
}

.name:focus,
.des:focus,
.goal:focus{
    border: 1px solid rgb(100, 100, 100);
}

.btn,
.exitBtn{
    border-radius: 3px;
    width: 100px;
    height: 30px;
    margin-left: auto;
    background-color: rgb(200, 200, 200);
    pointer-events: none;
    color:rgb(230, 230, 230);
}
.exitBtn{
    background-color: rgb(150, 150, 150);
    pointer-events: auto;
    margin-right: 3px;
}
.exitBtn:hover{
    background-color: rgb(100, 100, 100);
}

.btn.active{
    background-color: rgb(90, 196, 36);
    pointer-events: auto;
}

.name.dark,
.des.dark,
.goal.dark{
    border: 1px solid rgb(100, 100, 100);
    color:rgb(230, 230, 230);
}

.name.dark.error,
.des.dark.error,
.goal.dark.error{
    border: 1px solid rgb(255, 112, 112);  
}

.name.dark:focus,
.des.dark:focus,
.goal.dark:focus{
    border: 1px solid rgb(200, 200, 200);
}

.btn.dark{
    background-color: rgb(150, 150, 150);
}
.exitBtn.dark{
    background-color: rgb(100, 100, 100 );
}
.btn.dark.active{
    background-color: rgb(90, 196, 36);
    pointer-events: auto;
}

.exitBtn.dark:hover{
    background-color: rgb(50, 50, 50);
}