.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(100px);
    transition: all ease-in 300ms;
}
.info.active{
    transform: translateY(0);
}

.title{
    font-weight: 500;
}

.description{
    width: 70px;
    font-weight: 100;
    opacity: 1;
    transition: all ease-in 300ms;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.description.active{
    opacity: 1;
    width: auto;
}