.login{
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100vw - (100vw - 100%));
    height: 100vh;
}

.box{
    display: flex;
    align-items: center;
    width: 25rem;
    height: 18rem;
    border: 1px solid rgb(210, 210, 210);
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 0px 1px 10px -4px #5e5e5e;
}

.vertical{
    width: 0.5px;
    height: 85%;
    background-color: rgb(210, 210, 210);
}

.l,
.r{
    flex: 1 1 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:100%;
    transition: all ease-in 300ms;
}

.l:hover,
.r:hover{
    flex: 1 1 62%;
}

.l{
    padding-bottom: 20px;
}

.LTitle{
    margin-bottom: 16px;
}

.form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input{
    width: 80%;
    border: none;
    border-bottom: 1px solid rgb(210, 210, 210);
    margin-bottom: 1px;
    padding: 3px 3px;
}

.horizontal{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px 0 15px 0;
    width: 80%;
    height: 0.5px;
    background-color: rgb(210, 210, 210);
}
.description{
    padding : 0 3px;
    color:rgb(120, 120, 120);
    background-color: white;
}
.signUp{
    margin-top: 5px;
    color: rgb(96, 170, 207);
}
.btn{
    z-index: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 1.8rem;
    border-radius: 3px;
    margin-top: 3px;
    color:white;
    background-color: rgb(101, 194, 89);
}
.btnTitle{
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;
    top:0;
    right:15%;
    height: 100%;
    transition: all ease-in 300ms;
}
.btnIcon{
    z-index: 2;
    display: flex;
    align-items: center;
    margin-left: 40%;
    padding-right: 40%;
    height: 100%;
}
.btnIcon.active{
    margin-left: 55%;
    padding-right: 35%;
}
.btnTitle.active{
    right:45%;
}

.signIn{
    background-color: rgb(101, 194, 89);
}
.signIn .signInIcon{
    background-color:inherit;
}
.github{
    background-color: rgb(60, 60, 60);
}
.github .githubIcon{
    background-color:inherit;
}
.google{
    background-color: rgb(71, 101, 220);
}
.google .googleIcon{
    background-color:inherit;
}

.btn:hover{
    color:rgb(99, 99, 99);
    background-color: aliceblue;
}


.RTitle{
    margin-bottom: 20px;
}

.visit,
.contact{
    font-size: 12px;
    margin-bottom: 5px;
}