.container{
    display: flex;
    width: 105px;
    flex-wrap: wrap;
    opacity: 0;
    transition: all ease-in 300ms;
}

.container.active{
    opacity: 1;
}

.box{
    width: 15px;
    height: 15px;
    border: 1px solid white;
    background-color: rgb(155, 50, 50);
}

@media screen and (max-width: 48rem) {
    .container{
        opacity: 1;
    }
}