.signUpForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box{
    display: flex;
    align-items: center;
    justify-content: center;
}

.msg{
    font-weight: 100;
    font-size: 11px;
    margin-left: 11px;
}