.signInForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.id,
.pass{
    width: 85%;
    border: none;
    border-bottom: 1px solid rgb(210, 210, 210);
    margin-bottom: 3px;
}

.signBtn{
    width: 85%;
    height: 25px;
    border-radius: 3px;
    background-color: rgb(90, 196, 36);
    color:white;
}

.signBtn:hover{
    background-color: antiquewhite;
    color: rgb(61, 61, 61)
}

.signUp{
    font-size: 12px;
    font-weight: 300;
    text-align: center;
    cursor: pointer;
    color:rgb(210, 210, 210);
    border-bottom: 1px dotted white;
}
.signUp.active{
    color:rgb(106, 106, 237);
}
.signUp:hover{
    border-bottom: 1px dotted rgb(74, 74, 240);
}